:root {
    --primary-color: black; 
    --secondary-color: #024e76;
    --tertiary-color: teal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  /* apply styles to <header> */
header {
    padding: 35px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/portfolio.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 0 0 10px black;
  }

  header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin: 0;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 40px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px black;
    color: white;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  /* INTRODUCTION */
  .hero {
    background-image: url('../images/portfolio.jpg');
    height: 800px;
    background-size: cover;
    background-position: center;
    color:white;
    font-size: 35px;
    font-style: italic;
    background-attachment: fixed;
    position: relative;
    text-shadow: 0 0 10px black
  }

  .hero-intro {
    text-align: left;
    margin: 3.5%;
    color: #fff;
    font-size: 50px;
    line-height: 1.2;
  }
 
  /* ABOUT ME STYLE */

  .intro {
      text-align: center;
  }

  .my-pic {
    background-image: url('../images/mikey.JPG');
    background-size: cover;
    height: 600px;
    border-radius: 15px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 200px 0px 200px;
    display: inline-block;
  }


  .intro h2 {
      color: var(--primary-color);
      font-size: 60px;
      margin-bottom: 35px;
      padding: 0 100px 20px 100px;
      border-bottom: 3px solid;
      border-color: var(--secondary-color);
      display: inline-block;
      }

  .intro p {
      text-align: center;
      margin: 3.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .work {
      text-align: center;
  }

  .work h2 {
    color: var(--primary-color);
    font-size: 50px;
    text-align: center;
    border-bottom: var(--primary-color);

  }

  .run-buddy {
    background-position: center;
  }

  .contact-info {
      text-align: center;
      font-size: 25px;
      color: var(--primary-color);
  }

  .contact h2 {
    color: var(--primary-color);
    font-size: 60px;
    text-align: center;
  }

  .contact h3 {
      text-align: center;

  }

  section {
    padding: 60px;
  }